@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('../src/Font/Satoshi_Complete/Fonts/WEB/css/satoshi.css');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
  .primary{
    @apply text-[#493EC7]
  }
  .dark{
    @apply text-[#74728D]
  }
  .scrollbar::-webkit-scrollbar{
    @apply hidden
  }
  .hero{
    
    background:
    linear-gradient(180deg, rgba(0, 0, 0, 0.25) 2%, rgba(0, 0, 0, 0.55) 100%),
    url('../src/Assets/hero.jpg'),
    lightgray 0px -754.096px / 100% 338.824%;
    @apply bg-cover bg-no-repeat 
  }
  .content{
    background-image:
    linear-gradient(224deg, rgba(3, 19, 33, 0.56) 0%, rgba(3, 28, 50, 0.29) 100%), url('../src/Assets/Background2.jpg');
  }
}

/* Custom styles for checklist */
.Toastify__toast--success .Toastify__progress-bar {
  background-color: white; /* Customize the progress bar color */
}

.Toastify__toast--success .Toastify__close-button svg {
  fill: #031C32; /* Customize the close button color */
}

/* Custom styles for progress bar */
.custom-progress-bar .Toastify__toast-body .Toastify__checklist {
  color: red; /* Customize the checklist color */
}



